@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #171c28;
  color: white; /* Set the text color to black */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar__brand .navbar__logo {
  font-size: 1.8rem;
  text-decoration: none;
  color: white; /* Set logo color to black */
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

.navbar__links {
  display: flex;
  gap: 30px;
}

.navbar__link {
  color: white; /* Set link color to black */
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;

  &:hover {
    color: #f0a500; /* Hover color stays as is */
  }
}

/* Hamburger menu (visible on mobile) */
.navbar__hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.navbar__line {
  width: 30px;
  height: 3px;
  background-color: #171c28; /* Change line color to black */
}

/* Mobile Menu (when navbar__hamburger is clicked) */
.navbar__links.mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color:#171c28;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }

  .navbar__hamburger {
    display: flex;
  }
}
