.intro {
  padding: 0; /* Remove all padding */
  height: 100vh; /* Full viewport height */
  display: flex; /* Use Flexbox layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Start at the top */
  align-items: center; /* Center content horizontally */
  max-width: 1440px;
  margin: 0 auto; /* Center the container horizontally */
  
  /* Add a little space from the top */
  padding-top: 20vh; /* Adjust this value to move the content down */
  
  /* Remove any breakpoints' padding to reduce space further */
  @include weird-medium {
    padding: 0;
  }

  @include phablet {
    padding: 0;
  }

  @include mobile {
    padding: 0;
  }

  &__hello, &__tagline, &__contact, .my_intro {
    margin: 0; /* Remove margin between elements */
    padding: 0; /* Remove any internal padding */
    font-size: 2.5rem; /* Default font size for large screens */
    font-weight: bold; /* Set font weight to bold */

    /* Adjust font-size for different breakpoints */
    @include desktop {
      font-size: 2.25rem;
    }

    @include tablet {
      font-size: 2rem;
    }

    @include phablet {
      font-size: 1.75rem;
    }

    @include small-mobile {
      font-size: 1.5rem;
    }

    @include tiny-mobile {
      font-size: 1.4rem;
    }
  }

  .intro__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 500px;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
  }
}
